<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.dhbw.heidenheim.wi2012.securechat"
    android:versionCode="3"
    android:versionName="0.2014.08.19" android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="20" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyAppTheme" 
        android:description="@string/app_description">
        <activity android:name=".ContactListActivity"
            android:label="@string/title_activity_contact_list"
            >
        </activity>
        <activity android:name="de.dhbw.heidenheim.wi2012.securechat.ChatDetailActivity"
            android:label="@string/title_activity_chat"
            android:parentActivityName="de.dhbw.heidenheim.wi2012.securechat.ContactListActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="de.dhbw.heidenheim.wi2012.securechat.ContactListActivity" />
        </activity>
        <activity
            android:name=".AddContactActivity"
            android:label="@string/title_activity_add_contact"
            android:parentActivityName=".ContactListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.dhbw.heidenheim.wi2012.securechat.ContactListActivity" />
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat"
            android:parentActivityName=".ContactListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.dhbw.heidenheim.wi2012.securechat.ContactListActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowProfileActivity"
            android:label="@string/title_activity_show_profile" 
            android:parentActivityName=".ContactListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.dhbw.heidenheim.wi2012.securechat.ContactListActivity" />
        </activity>
    </application>

</manifest>
